.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding: 20px 0;
}

.pagination li {
  border: 2px solid gold;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li:hover {
  background-color: rgba(255, 215, 0, 0.2); /* light golden on hover */
}

.pagination .active {
  background-color: gold;
  color: white !important;
  border-color: gold;
}

.page-btn {
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: white !important;
}

.pagination .page-btn {
  color: white !important; 
  border: 2px solid gold;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-btn:hover {
  background-color: rgba(255, 215, 0, 0.2);
}
.page-btn > a{
  color: white !important; 
  text-decoration: none;
  
}

.filters .apply-now {
  grid-column: span 3; /* This spans across all three columns */
  background-color: #3A1929 !important;
  color: white ;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  
}


@media (max-width: 768px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }

  .filters .filters-dropdowns {
    width: 100%;
  }

  .filters-dropdowns select,
  .filters-dropdowns button {
    width: 100%; 
    font-size: 13px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }

  /* Correcting the Apply Filters button */
  .filters .apply-now {
    grid-column: span 3; /* This spans across all three columns */
    background-color: #3A1929 !important;
    color: white ;
    width: 100%;
    padding: 0.5rem 1rem;
 
  }

  .filters-dropdowns {
    margin-bottom: 10px;
  }
}

/* For mobile view only */
@media (max-width: 768px) {
  .landing-page-cards {
    padding-left: 15px;  /* Add right padding to the card container */
    padding-right: 15px;  
  }


}




#apply-filters{
  background-color: transparent !important;
  padding-top: 5px;
}