.rating {
    background-color: #1FB73B;
    height: 22px;
    min-width: 150px; /* Adjust for "No reviews" text */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
    white-space: nowrap;
  }
  
.stock {
    max-width: 250px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}